# visual studio
/.vs

# Windows Compile
/Exe
*.obj
/Syldeyn/x64

# MKL2Syldeyn compile
/MKL2Syldeyn/bin
/MKL2Syldeyn/obj

# Syldeyn project data must not be there. (Sounds odd. Not if you know what Syldeyn is and what it does).
MKL_*


# Linux
*.o
LinuxExe
